@font-face {
    font-family: "AnekTamil";
    src: url(../fonts/AnekTamil-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "AnekTamil";
    src: url(../fonts/AnekTamil-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "AnekTamil";
    src: url(../fonts/AnekTamil-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Geist";
    src: url(../fonts/Geist-Regular.ttf);
    font-weight: 400;
}